*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #ecf1f5;
  color: #888da8;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
} 
.container {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  margin-top: 10px;
}
.mainContent {
  background-color: white;
  padding: 30px;
}
a {
  text-decoration: none;
  color: #888da8;
}